---
# ##############################################################################
#
#   Cisco Intersight Configuration Parameters
#
# ##############################################################################

# This file defines Intersight global parameters.

# !!! Sensitive Data should be encrypted using Ansible Vault. 
# These variables will have a name that starts with 'vault_'

# Enter Intersight API Key ID and Secret Key(API Private Key)
vault_intersight_api_key_id: "5########################################################################7"
vault_intersight_api_private_key: |
  -----BEGIN EC PRIVATE KEY-----
  M##############################################################j
  L##############################################################p
  S######################################################B
  -----END EC PRIVATE KEY-----

